.grid {
  display: grid;

  & > .row { margin: 0; }

  &-c4 { grid-template-columns: minmax(27%, 1fr) 1fr 1fr 1fr; }

  &-r4 { grid-template-rows: 1fr 1fr 1fr 1fr; }
}

.r- {
  &1 { grid-row-start: 1; }
  &2 { grid-row-start: 2; }
  &3 { grid-row-start: 3; }
  &4 { grid-row-start: 4; }
  
  &s2 { grid-row-end: span 2; }
  &s4 { grid-row-end: span 4; }
}

.c- {
  &1 { grid-column-start: 1; }
  &2 { grid-column-start: 2; }

  &se { grid-column-end: end; }
}

@media screen and (min-width: 992px) {
  .r-lg- {
    &1 { grid-row-start: 1; }
    &2 { grid-row-start: 2; }
    &3 { grid-row-start: 3; }
    &4 { grid-row-start: 4; }

    &s2 { grid-row-end: span 2; }
    &s4 { grid-row-end: span 4; }
  }

  .c-lg- {
    &2 { grid-column-start: 2; }
    &4 { grid-column-start: 4; }

    &se { grid-column-end: end; }
    &s2 { grid-column-end: span 2; }
  }
}