@import "./bootstrap-overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import "./animations.scss";
@import "./grid.scss";

:root {
  font-size: calc(0.625em + 0.4vw)
}

body {
  background-image: -webkit-image-set(
                      url(../img/Coding-Challenge-Image-x1.png) 1x,
                      url(../img/Coding-Challenge-Image-x2.png) 2x);
  background-image: image-set(                                                   /*linear-gradient(90deg, rgba($primary, 0.9), rgba($primary, 0.1)),*/
                      url(../img/Coding-Challenge-Image-x1.png) 1x,
                      url(../img/Coding-Challenge-Image-x2.png) 2x);
  background-size: cover;
  height: 100vh;
}

.z {
  &1 {
    z-index: 1;
  }
}

.serif {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif
}

.fading-border {
  &::after {
    content: "";
    height: 2px;
    background: linear-gradient(to right, $primary, rgba(0,0,0,0));
    display: block;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}

.text-block {
  max-width: 50ch;
}

.btn-primary--gradient {
  background: linear-gradient(90deg, $primary, #A36754);
}

.content {
  width: fit-content;
  height: fit-content;
}

@media screen and (min-width: 992px) {
  .ch-shift {
    &-left {
      &-2 {
        margin-left: -1.85ch;
      }
    }
  }
}