@import "./bootstrap-overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import "./animations.scss";

:root {
  font-size: calc(0.625em + 0.4vw)
}

body {
  background: linear-gradient(90deg, rgba($primary, 0.8), rgba($primary, 0.1)), 
              url(../img/Coding-Challenge-Image.png);
  background-size: cover;
  height: 100vh;
}

@include media-breakpoint-up(lg) {
  body {
    background: linear-gradient(90deg, $primary, $primary min(34%, 27rem), #FFF0 min(33%, 27rem)), 
                url(../img/Coding-Challenge-Image.png);
    background-size: cover;
  }
}



.serif {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif
}

.fading-border {
  &::after {
    content: "";
    height: 2px;
    background: linear-gradient(to right, $primary, rgba(0,0,0,0));
    display: block;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}

.text-block {
  max-width: 50ch;
}

.btn-primary--gradient {
  background: linear-gradient(90deg, $primary, #A36754);
}
.content {
  width: fit-content;
}
